.progress-container {
  width: 90%; /
  margin: 1rem auto; 
  background-color: #e0e0e0; 
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  font-size: 9px; 
  background-color: #5B1317; /* or #1e3452 */
  color: white;
  text-align: center;
  line-height: 10px; 
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}